body {
	color: #111111;
	background-color: #001f3f;
}

h1 {text-align: center;
color: #FFDC00;}

p {font-size: 24px;
	text-align: left;
	}

.pink {
	background-color: rgb(148, 54, 255);
	}

.green {
	background-color: rgb(78, 61, 153);
}

.blue {
	background-color: #3f0000;
}

.yellow {
	background-color: #FFDC00;
}

.aqua {
	background-color: #0074D9;
}

.triviaScreen, .endScreen, .timerScreen {
	display: none;
	padding: 0px 0px 30px 30px;
} 

.starterScreen {
	padding: 30px 0px 30px 30px;
}

.timerScreen {
	text-align: center;
}

.radio {
	font-size: 16px;
}

